{
	"extends": "eslint:recommended",
	"env": {
		"es6": true,
		"node": true
	},
	"parserOptions": {
		"ecmaVersion": 6
	},
	"rules": {
		"no-var": "error",
		"no-undef":"error",
		"id-length": "error",
		"camelcase": ["error", { "properties": "always" }],
		"new-cap": ["error", { "newIsCap": true }],
		"no-underscore-dangle": "error",
		"prefer-const": "error",
		"no-const-assign": "error",
		"no-new-object": "error",
		"object-shorthand": "error",
		"quote-props": "error",
		"no-array-constructor": "error",
		"quotes": ["error", "single"],
		"prefer-template":"error",
		"template-curly-spacing":"error",
		"no-eval":"error",
		"no-useless-escape":"error",
		"func-style":"error",
		"no-loop-func":"error",
		"prefer-rest-params":"error",
		"no-new-func":"error",
		"space-before-function-paren":"error",
		"space-before-blocks":"error",
		"no-param-reassign":"error",
		"prefer-spread":"error",
		"prefer-arrow-callback":"error",
		"arrow-spacing":"error",
		"arrow-parens":"error",
		"arrow-body-style":"error",
		"no-confusing-arrow":"error",
		"no-useless-constructor":"error",
		"no-dupe-class-members":"error",
		"no-duplicate-imports":"error",
		"no-iterator":"error",
		"no-restricted-syntax":"error",
		"generator-star-spacing":"error",
		"dot-notation":"error",
		"one-var":["error", "never"],
		"no-plusplus":"error",
		"eqeqeq":"error",
		"no-case-declarations":"error",
		"no-nested-ternary":"error",
		"no-unneeded-ternary":"error",
		"brace-style":"error",
		"spaced-comment":"error",
		"indent":["error", "tab"],
		"keyword-spacing":"error",
		"space-infix-ops":"error",
		"newline-per-chained-call":"error",
		"padded-blocks":["error", "never"],
		"space-in-parens":"error",
		"array-bracket-spacing":"error",
		"object-curly-spacing":["error","always"],
		"max-len":["warn", 100],
		"comma-style":"error",
		"comma-dangle":"error",
		"semi":"error",
		"no-console":"warn"
	}
}